<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "classpath:/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!--开启驼峰命名转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>

		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="callSettersOnNulls" value="true" />
        <setting name="logImpl" value="LOG4J" />    
    </settings>
</configuration>
