@charset "utf-8";
.header {
    height: 80px;
    width: 100%;
    background: #ffffff;
    border-top: 4px solid #ff571a;
}

.header div {
    display: inline-block;
}

.header .logo-div {
    margin-left: 40px;
    width: 200px;
}

.header .logo-div img {
    width: 200px;
    height: 70px;
}

.header .header-word {
    width: 400px;
    font-size: 24px;
    font-family: 华文行楷;
}

.header .search-div {
    margin: 20px 10px 10px 300px;
}

.header .search-div input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
}


.header .login-regist a {
    margin: 5px;
}

a {
    color: black;

}

a:hover {
    color: orange;
    cursor:pointer;
    text-decoration:none;
}

.user-image {
    width: 20px;
    height: 20px;
}

